body {
    max-width: 100%;
    min-width: 25%;
}

section {
    display: inline-block;
    vertical-align: top;
/*margin: 10px;*/
/*padding: 20px;  */
}

blockquote {
    border-left: 5px solid blue;
    padding: 15px;
    margin-left: 0;
}

cite {
    display: block;
    margin-top: 10px;
}

#external-links {
    width: 20%;
}

#external-links ul {
    list-style-type: none;
    padding-left: 0;
}

#main {
    width: 75%;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
    width: 100%;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

figcaption {
    font-style: italic;
    text-align: right;
}

/*@media screen and (max-width: 500px) {
  body {
    background-color: pink; 
    }
    }*/
@media screen and (max-width: 500px) {
    body {
        font-size: smaller;
    }
  }

@media screen and (max-width: 500px) {
    #external-links {
        background-color: #eee;
    }
}

/* mobile-first design: responsive design.. making a website responsive firs
Float: can collapse parent containers = issue; 
float was created for a single purpose so when it comes to the entire document it requires a lot of troubleshooting.
 Float elements places content either left or right inline. 
 You cannot center floating items. 

 Display is easier because you can "stack" elements side by side. Inline block can be a substitute. */

